.skills-container {
    padding: 40px;
    text-align: center;

}

h1 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 40px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
}

.skill-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width:200px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    margin-bottom:50px;
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.skill-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

h3 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 15px;
}


@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 skills per row for tablets */
    }
}

@media (max-width: 480px) {
    .skills-grid {
        grid-template-columns: repeat(1, 1fr);
        /* 1 skill per row for mobile screens */
    }
}